{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "import/no-unresolved": [2, {
      "ignore": ["react", "gatsby", "history", "gatsby-link"]
    }],
    "react/prop-types": 0
  }
}
